.row
    .col-sm-12
        h2 Graph Explorer
.row
    .col-sm-8
        d3-graph(graph="graph",width="width",height="height",on-node-click="nodeClick",on-node-select="nodeSelected")
    .col-sm-4
        .row
            .col-sm-12
                div(style="padding: 10px")
                    .form-group
                        label Search by Name
                        input.form-control(ng-model="searchTerm",ng-keypress="keyHandler($event)")
                    button.btn.btn-primary.btn-block(ng-click="search()",ng-disabled="!searchTerm")
                        | Search
                        i.fa.fa-spin.fa-spinner(ng-show="searching")
                        | &nbsp;
                        i.fa.fa-search(ng-show="!searching")
                    div(ng-repeat="r in results",uib-collapse="collapseSearch") 
                        button.btn.btn-default.btn-block(ng-click="chooseStart(r.id)") {{r.name}}
                    div
                        button.btn.btn-warning.btn-block(ng-click="reset()",ng-show="graph.nodes.length > 0") Reset/Clear
        .row
            .col-sm-12
                div(ng-show="selectedNode",style="padding: 10px")
                    h4 {{ selectedNode.labels[0] }}: {{ selectedNode.properties.name }}&nbsp;
                        a(ng-click="editNode = true",ng-show="!editNode") #[i.fa.fa-pencil]
                        a(ng-click="editNode = false",ng-show="editNode") #[i.fa.fa-close]
                    table.table
                        tr(ng-repeat="prop in selectedNode.displayProperties")
                            td 
                                span(ng-show="!editNode") {{ prop.name }}
                                input.form-control(ng-model="prop.name",ng-show="editNode",ng-disabled="label == 'name'",ng-change="$parent.dirty = true")
                            td 
                                span(ng-show="!editNode") {{ prop.value }}
                                input.form-control(ng-model="prop.value",ng-show="editNode",ng-change="$parent.dirty = true")
                            td
                                a(ng-click="deleteProp($index)") #[i.fa.fa-trash]
                        tr(ng-show="editNode")
                            td(colspan="2")
                                button.btn.btn-sm.btn-success(ng-click="addProperty()") Add Property
                        tr(ng-show="dirty")
                            td(colspan="2")
                                button.btn-sm.btn-primary(ng-click="updateNode()") Commit Changes