.vspace-5 {
    padding: 5px 0;
}

.vspace-10 {
    padding: 10px 0;
}

.node {
    stroke: #036;
    fill: #ccc;
}

text {
    stroke: none;
    fill: #003366;
    font-size: 10px;
}

.link {
    stroke: #cecece
}

.linkText text {
    font-size: 8px;
    fill: #cecece;
}