.vspace-5 {
    padding: 5px 0;
}

.vspace-10 {
    padding: 10px 0;
}

.node {
    stroke: #036;
    fill: #ccc;
}

text {
    stroke: none;
    fill: #fff;
    font-size: 10px;
}

.link {
    stroke: #cecece
}

.link text {
    font-size: 9px;
    fill: #333;
}

.connector {
    fill: #333;
}

.node.Application {
    fill: #0B4998;
}

.node.Database {
    fill: #009933;
}

.node.Consumer {
    fill: #14345C;
}

.node.Vendor {
    fill: #748192
}

.node.API {
    fill: #80D2A8
}

.node.Functionality {
    fill: #FF8800;
}

.node.Server {
    fill: #555;
}

.node.Website {
    fill: #C0E0F0;
}

.node.Service {
    fill: #BF6600;
}

svg {
    background-color: #eee;
    margin: 10px auto;
}

.selected {
    stroke: yellow;
}