.vspace-5 {
    padding: 5px 0;
}

.vspace-10 {
    padding: 10px 0;
}

.node {
    stroke: #036;
    fill: #ccc;
}

text {
    stroke: none;
    fill: #fff;
    font-size: 10px;
}

.link {
    stroke: #cecece
}

.link text {
    font-size: 9px;
    fill: #333;
}

.connector {
    fill: #333;
}

.node.Application {
    fill: #009900;
}

.node.Database {
    fill: #003399;
}

.node.Server {
    fill: #9cf;
}

svg {
    background-color: #eee;
    margin: 10px auto;
}

.selected {
    stroke: yellow;
}